@media (min-width: $breakpoint-xxsmall+1) {
    .hide-xxsmall {
        display: none;
    }
}

@media (min-width: $breakpoint-xsmall+1) {
    .hide-xsmall {
        display: none;
    }
}

@media (min-width: $breakpoint-small+1) {
    .hide-small {
        display: none;
    }
}

@media (min-width: $breakpoint-medium-small+1) {
    .hide-medium-small {
        display: none;
    }
}

@media (min-width: $breakpoint-medium+1) {
    .hide-medium {
        display: none;
    }
}

@media (min-width: $breakpoint-medium-large+1) {
    .hide-medium-large {
        display: none;
    }
}

@media (min-width: $breakpoint-large+1) {
    .hide-large {
        display: none;
    }
}

@media (min-width: $breakpoint-xlarge+1) {
    .hide-xlarge {
        display: none;
    }
}

@media (min-width: $breakpoint-xxlarge+1) {
    .hide-xxlarge {
        display: none;
    }
}